<%= render "shared/header" %>

<div class="search-bar-contents">
  <div class="search-form">
    <%= form_tag new_book_path, method: :get do %>
      <%= text_field_tag :book, "", id: "book_search", name: "title", placeholder: "タイトルを打ち込んでください" %>
      <button title="検索" type="submit" id="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
</div>
  <div id="book_list">
    <%= render 'book_list' %>
  </div>
